REGISTRY_CONTAINER_NAME=registry
REGISTRY_PORT=5000
REGISTRY_AUTH_REALM=Private Docker Registry
REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd
REGISTRY_DATA_DIR=./data
REGISTRY_AUTH_DIR=./auth
REGISTRY_CONFIG_FILE=./config.yml
REGISTRY_UID=1000
REGISTRY_GID=1000

REGISTRY_UI_CONTAINER_NAME=registry-ui
REGISTRY_UI_PORT=8101
REGISTRY_LOGIN_HOST=localhost
REGISTRY_URL=http://registry:5000
REGISTRY_USERNAME=change-me
REGISTRY_PASSWORD=change-me
REGISTRY_BEARER_TOKEN=

APP_AUTH_USERNAME=operator
APP_AUTH_PASSWORD=change-me
APP_SESSION_SECRET=replace-with-a-long-random-secret
APP_BRAND_NAME=Soara
APP_PRODUCT_NAME=Registry UI
